.search_bar {
  height: 34px;
  display: flex;
  width: 300px;
  margin-right: 5px;
}
.search_bar input {
  width: 100%;
  height: 100%;
}
input::placeholder {
  color: #233d4a;
}
input:disabled {
  opacity: 50%;
}
.search_bar input,
.search_btn {
  border: none;
  background-color: #607d8b99;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
  border-radius: 8px;
  color: #233d4a;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
}

@media screen and (max-width: 1024px) {
  .search_bar {
    max-width: 330px;
  }
}
@media screen and (max-width: 900px) {
  .search_bar {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .search_bar {
    margin-bottom: 7px;
    height: 25px;
    max-width: 250px;
  }
}

@media screen and (max-width: 330px) {
  .search_bar {
    width: 100%;
  }
  .search_bar input {
    font-size: 10px;
  }
}
