@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

fieldset {
  border: 0;
}
:root {
  --body-font: 'Inter', sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background: url('./assets/img/bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: var(--theme-bg);
  font-size: 11px;
  margin-top: 15px;
}
footer p {
  padding: 5px;
}
footer a {
  text-decoration: none;
  color: wheat;
}

[id='app-root'] {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    height: auto;
    padding: 0.5em 1em;
  }
}
